<% if @user %>

<div class="container">

  <h1>Welcome, <%= @user.username if @user%>  </h1><br>


  <h2>Tasks:</h2><br>
  <%= link_to "Create a New Task for the Mission!", new_user_task_path(@user) %>

  <br><br>

</div>
<% end  %>

<div class="container">

  <%= render partial: 'tasklist', :locals => {:@tasks => @tasks} %>
</div>


<br><br>

<div class="container">

  <h2>Completed Tasks</h2>

  <%= render partial: '/tasks/completed', :locals => {:@tasks => @tasks} %>
</div>