


<h1>Welcome, <%= @user.username %>  </h1>

<h2>These Are Your Missions:</h2>

<ul>
  <% @mission.all.each do |mission| %>

    <li><%= mission.description %></li>
  <% end  %>
</ul>

<%= link_to "All Missions and Tasks", missions_path %>