

<div class="container">

<br><br>

  <div class="center-block">

  <%= render partial: 'form',  locals: {mission: @mission} %>
  <%# <%=render partial: 'form', :locals => {:@tasks => @tasks} %>
  </div>

</div>