

<div class="container">
<h2>Create a Mission</h2>
<br><br>

  <div class="center-block">

  <%= render 'form',  locals: {mission: @mission} %>
  <%# <%=render partial: 'form', :locals => {:@tasks => @tasks} %>
  </div>

</div>