<h1>
<%= @mission.name %>
</h1>

<%= link_to "Edit Mission", edit_missions_path(@mission) %>

<%= link_to 'Delete Mission', @mission, method: :delete, data: { confirm: "Are You Sure?" } %> 

<% tasks = @mission.tasks %>

<%= render partial: 'tasks', :locals => {:@task => tasks}%>